%% -*- erlang -*-
{erl_opts, [
    debug_info, 
    {parse_transform, lager_transform}
  ]}.

{xref_checks, [undefined_function_calls]}.

{deps, [
  {lager,      "3.2.1"},
  {cowboy,     "1.0.4"},
  {gen_leader, "0.1.0"},
  {gproc,      "0.6.1"},
  {epgsql,     "3.2.0"},
  {eredis,     "1.0.8"},
  {pooler,     {git, "https://github.com/seth/pooler.git", {tag, "1.5.2"}}},
  {erlydtl,    {git, "git://github.com/erlydtl/erlydtl.git", {tag, "0.12.1"}}},
  {jsx,        "2.8.0"},
  {gun,        {git, "git://github.com/relabsoss/gun.git", {branch, "cowlib"}}},
  {gen_smtp,   "0.11.0"},
  {uuid,       {git, "git://github.com/tvv/erlang-uuid.git", {tag, "v0.4.9"}}},

  {emodel,     {git, "https://github.com/relabsoss/emodel.git", {branch, "master"}}},
  {iso8601,    {git, "https://github.com/erlsci/iso8601.git", {tag, "1.2"}}},
  {ux,         {git, "https://github.com/tvv/ux.git", {branch, "master"}}},
  {sync,       {git, "https://github.com/rustyio/sync.git", {branch, "master"}}}
  ]}.

{plugins, []}.

{shell, [
  {config, "config/sys.config"},
  {apps, [sync, wa]}
]}.

{relx, [{release, {statelog_wa, "0.0.1"},
     [wa],
     [{dev_mode, true},
      {include_erts, true}]},
     {sys_config, "config/sys.config"}]}.

{profiles, [
  {prod, [
    {relx, [
      {dev_mode, false}
      ]}
    ]},
  {test, [
    {deps, []},
    {erl_opts, [debug_info]},
    {config, "config/sys.config"}
    ]}
]}.