[
  {sync, [
    {growl, none},
    {src_dirs, {replace, [
      {"./src", [
        {i,"include"},
        {type,erl},
        {outdir, "./_build/default/lib/wa/ebin"}, 
        {parse_transform,lager_transform}]}]}}
    ]},
  {pooler, [
          {pools, [
            ]}                 
    ]},
  {wa, [
      {modules, [
       ]}
    ]},
  {lager, [
    {colored, true},
    {handlers, [
      {lager_console_backend, [debug, 
        {lager_default_formatter, 
          [time, " [",severity,"] ", module, ":", function, ":", line, " ", message, "\n"]}
      ]},
      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
    ]}
  ]} 
].
